@font-face {
  font-family: 'Lifestar';
  src: url("fonts/deathstar_font.eot");
  src: url("fonts/deathstar_font.eot#iefix") format("embedded-opentype"), url("fonts/deathstar_font.woff2") format("woff2"), url("fonts/deathstar_font.woff") format("woff"), url("fonts/deathstar_font.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

* {
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: #000;
  font-family: Lifestar, Lato, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100%; }

.lifestar__wrapper,
.lifestar__container {
  max-width: 1040px;
  margin: 0 auto;
  position: relative; }

.lifestar__wrapper {
  min-height: 100vh; }

.lifestar__app {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }

.lifestar__container.container--center {
  text-align: center; }

/* Loading Wrapper */
.lifestar__loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: .2s ease; }

.lifestar__loading-wrapper.lifestar__loading-wrapper--interaction__loading {
  visibility: visible;
  opacity: 1;
  transition: 0s; }

.loading__label {
  font-size: 36px;
  line-height: 1;
  letter-spacing: .1em;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -12px; }

/* Introduction */
.lifestar__introduction {
  width: 90%;
  margin: 0 auto 40px;
  text-align: center; }

.lifestar__introduction h1 {
  font-size: 96px;
  letter-spacing: .1em;
  margin: 0 0 .3em; }

.lifestar__introduction h2 {
  font-size: 32px;
  font-family: Righteous, sans-serif;
  line-height: 1.25;
  letter-spacing: .05em;
  margin: 0; }

/* Button */
.lifestar__button {
  font-family: Righteous, sans-serif;
  font-size: 24px;
  display: inline-block;
  width: 9em;
  text-transform: uppercase;
  color: #000;
  letter-spacing: .1em;
  line-height: .7;
  box-sizing: border-box;
  padding: 1em;
  appearance: none;
  outline: 0;
  border: none;
  background: #eedb00;
  cursor: pointer;
  transition: .2s ease; }

.lifestar__button:focus {
  outline: 0; }

.lifestar__button.lifestar__button--get:hover {
  box-shadow: 0 .26em 0 #c1b215;
  background: #ffed24; }

/* Table */
.lifestar__table {
  font-size: 24px;
  margin: 0 auto;
  border: 1px solid #fff;
  background-color: #666;
  table-layout: fixed;
  max-width: 500px;
  width: 100%;
  padding-bottom: 3em;
  margin-bottom: 2em;
  position: relative; }

.lifestar__table caption {
  font-size: 36px;
  letter-spacing: .1em;
  padding: .33em 0;
  background-color: #777;
  border: 1px solid #fff; }

.lifestar__tablerow {
  font-family: Righteous, sans-serif; }

.lifestar__tablerow td {
  font-size: 24px;
  padding: .25em .5em; }

.lifestar__tablerow td:first-child {
  text-align: right; }

.lifestar__tablerow.row--films {
  display: block;
  position: absolute;
  bottom: .5em;
  right: .5em;
  font-size: 20px; }

/* Catchphrase */
.lifestar__catchphrase {
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-style: italic;
  color: #cbcbcb;
  margin: 5em 1em 0 auto;
  max-width: 20em;
  text-align: right; }

@media (max-width: 600px) {
  .lifestar__app {
    position: static;
    transform: none;
    box-sizing: border-box;
    padding: 40px 12px 20px; }
  .lifestar__introduction h1 {
    font-size: 42px; }
  .lifestar__introduction h2 {
    font-size: 20px; }
  .lifestar__button {
    box-shadow: 0 .26em 0 #c1b215; }
  .lifestar__tablerow td {
    font-size: 16px;
    padding: .55em .2em; }
  .lifestar__tablerow td:first-child {
    width: 45%; }
  .lifestar__catchphrase {
    max-width: 85%;
    margin: 4em 0 0 auto;
    font-size: 14px; } }
